{% extends "site_base.html" %}

{% block title%}Category list{% endblock %}
{% block content %}        
<p>
    <a class='button' href='?csv=true'>Export csv</a>
</p>



<table>
    <thead>
        <tr>
            <th>Edit</th>
            <th>Title</th>
            <th>Add article</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
            <tr>
        
                <td><a href='{% url "category-update" cat.id %}'>{{ cat.id }}</a></td>
                <td>{{ cat.name }}</td>
                <td><a href='{% url "article-create" %}?category={{ cat.id }}' >Add article</a></td>
            </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}