{% extends "site_base.html" %}

{% block title%}Document list{% endblock %}
{% block content %}        

<p>
    <a class='button' href='?csv=true'>Export csv</a>
</p>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Control</th>
            <th>Title</th>
            <th>Status</th>
            <th>Category</th>
            <th>Owner</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        {% for doc in documents %}
            <tr>
        
                <td>{{ doc.id }}</td>
                <td>
                    <a class='button' href='{% url "document-detail" doc.id %}'>View</a>
                    <a class='button' href='{% url "document-update" doc.id %}'>Edit</a>
                    <form method='POST' action='{% url "document-remove" doc.id %}'>{% csrf_token %}<input class='button' type='submit' value='Remove'></input></form>
                </td>
                <td>{{ doc.description }}</td>
                <td>{{ doc.get_status_display }}</td>
                <td>{{ doc.category }}</td>
                <td>{{ doc.owned_by }}</td>
                <td><a href='{{ doc.file.url }}'>{{ doc.file }}</a></td>
            </tr>
        {% endfor %}
    <tbody>
</table>

{% endblock %}

{% block extra_script %}
    <script>
        var showMore = function(id) {
            console.log("SHOW MORE ", id);
            fetch('/djangocbv/articles/detail/' + id +'/?partial=true').then(function(response) {
                return response.text().then(function(text) {
                    alert(text)
                });
            })
        }
        
    </script>
{% endblock %}